<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - DevBurger</title>
</head>
<body>
   <form action="/contato" method="post">
    <div class="">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="nome">
    </div>
    <div class="">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="">
        <label for="subject">Assunto:</label>
        <textarea  id="subject" name="assunto"> </textarea>
    </div>
    <div class="">
        <label for="message">Mensagem:</label>
        <textarea id="message" name="mensagem"></textarea>
    </div>
    <button type="submit">Enviar</button>
   </form>

   <a href="/">Voltar para o Inicio!</a>
</body>
</html>