<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/cardapio.js"></script>
    <title>Dev Burger</title>
  </head>
  <body>
    <section class="menu-container">
      <h1 class="title">Cardapio:</h1>
      <div class="snack_list">
      </div>
    </section>

    <form action="/sugestao" method="get">
      <div class="">
        <label for="name">Nome do lanche:</label>
        <input type="text" id="name" name="nome" />
      </div>
      <div class="">
        <label for="ingredients">Ingredientes:</label>
        <textarea id="ingredients" name="ingredientes"></textarea>
      </div>

      <button type="submit">Enviar sugestão</button>
    </form>
 
    <a href="./contato">Contatos</a>
  </body>
</html>
