<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - DevBurger</title>
</head>
<body>
   <form action="">
    <div class="">
        <label for="name">Nome:</label>
        <input type="text" id="name">
    </div>
    <div class="">
        <label for="email">Email:</label>
        <input type="email" id="email">
    </div>
    <div class="">
        <label for="subject">Assunto:</label>
        <textarea  id="subject"> </textarea>
    </div>
    <div class="">
        <label for="message">Mensagem:</label>
        <textarea id="message"></textarea>
    </div>
    <button type="submit">Enviar</button>
   </form>
</body>
</html>