<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Burger</title>
  </head>
  <body>
    <form action="/sugestao" method="get">
      <div class="">
        <label for="name">Nome do lanche:</label>
        <input type="text" id="name" />
      </div>
      <div class="">
        <label for="ingredients">Ingredientes:</label>
        <textarea id="ingredients"></textarea>
      </div>

      <button type="submit">Enviar sugestão</button>
    </form>

    <a href="contato.html">Contatos</a>
    <a href="">Lanches</a>
  </body>
</html>
